# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Database
chroma_db/

# IDE settings
.vscode/
.idea/

# Uploaded files
uploads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac OS system files
.DS_Store

# Project specific
data/

uploads/